.App {
    width: 100vw;
    height: 100vh;
} 

.toggler {
    display: flex;
    gap: 1em;
    padding: 1em;
}

.configurator {
    position: fixed;
    right: 24px;
    width: 320px;
    bottom: 25vh;

    color: #fff;

    z-index: 20;
}